/****** General ***********/
* {
    font-family: "Raleway", sans-serif;
}

:root {
    --main-color: #0065fc;
    --main-bg-color: #f2f2f2;
    --filter-bg-color: #deebff;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.page-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.card-subtitle {
    font-size: 14px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/****** Header ***********/
.page-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
}

.nav-list {
    display: flex;
    gap: 68px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.booki-logo {
    height: 19px;
    width: auto;
    margin: 30px 0;
}

.nav-link {
    display: inline-block;
    font-size: 16px;
    padding: 14px 0 0;
    border-top: 2px solid transparent;
}

.nav-link:hover {
    border-top-color: var(--main-color);
    color: var(--main-color);
}

/****** Search ***********/
.search {
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-bottom: 35px;
}

/****** Search-titles ***********/
.search-titles {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.main-subtitle {
    font-size: 16px;
    margin: 0;
}

/****** Search-form ***********/
.search-form {
    display: flex;
    width: 377px;
    height: 49px;
    border-radius: 15px;
    border: 1px solid var(--main-bg-color);
    background-color: #ffffff;
    gap: 24px;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
}

.location-icon {
    background-color: var(--main-bg-color);
    color: black;
    font-size: 18px;
    padding: 15px 18px;
}

.search-input {
    color: black;
    font-size: 18px;
    font-weight: 700;
    padding: 14px 0;
    flex: 1;
    min-width: 0;
    border: none;
}

.search-input::placeholder {
    color: black;
}

.search-button {
    background-color: var(--main-color);
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 14px 16px;
    border: none;
}

/****** Search-filters ***********/
.search-filters {
    display: flex;
    gap: 15px;
    align-items: center;
}

.filter-list {
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.filter-title {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}

.filter-link {
    display: flex;
    gap: 10px;
    font-size: 17px;
    font-weight: 700;
    padding: 4px 19px;
    border-radius: 25px;
    border: 2px solid #d9d9d9;
    height: 50px;
    box-sizing: border-box;
    align-items: center;
}

.filter-link:hover {
    background-color: var(--filter-bg-color);
}
/****** Search-information ***********/
.search-information {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 16px;
    height: 24px;
}

.info-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    font-size: 10px;
}
/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.content-box {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 30px 0;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
}

.hebergements-cards a {
    width: calc((100% - 60px) / 3);
}

.hebergements-cards img {
    width: 100%;
    height: 114px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 9px 10px 10px;
}

.hebergements-cards .card-title {
    margin: 0 0 8px 0;
}

.hebergements-cards .card-subtitle {
    margin-top: 0;
    margin-bottom: 8px;
}

.hebergements-cards .card-rating {
    line-height: 14px;
}

.more-link {
    font-size: 18px;
    font-weight: 700;
}
/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 30px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activites ***********/

.activites {
    padding: 30px;
}

.activites-cards {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}
.activites-cards .card {
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.activites-cards img {
    height: 380px;
    width: 100%;
}
.activites-cards a {
    width: calc((100% - 90px) / 4);
}

.activites-cards .card-title {
    padding: 20px 19px;
    margin: 0;
}

/****** Footer***********/

.page-footer {
    display: flex;
    background-color: var(--main-bg-color);
    margin-top: 35px;
    padding: 20px;
}

.footer-title {
    font-size: 18px;
    margin: 0;
}

.footer-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/*Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}
